<main>
  <h1>type: "{{phrase?.name}}"</h1>
  <p>let's see how much of a pro gamer you actually are, timer starts on the first letter</p>
  <div id="type-display">
    <span class="total">{{display}}</span>
    <span class="revealed">{{currentState}}</span>
  </div>
  <div id="type-input">
    <input #input autofocus [class.text-center]="currentState === ''" [value]="currentState !== '' ? currentState : 'start typing...'" readonly> <button (click)="reset()">reset</button>
  </div>
  <div id="type-time">
    time: {{time}}
  </div>
  <div class="challenges">
    <h2>try another challenge:</h2>
    <div class="links">
      <a *ngFor="let p of phrases" (click)="loadPhrase(p.name)">{{p.value}}</a>
    </div>
  </div>
  <div class="flex-spacer"></div>
  <app-footer></app-footer>
</main>
